@import "../helpers/mixins";
.side {
  background-color: rgb(0, 0, 0);
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  gap: 20px;
  box-shadow: 1px 1px 10px 1px;
  z-index: 50;
  // overflow-y: scroll;
  // padding-top: 130px ;
  @include media(mopile) {
    width: 90%;
    position: absolute;
    right: -120%;
    transition: 0.3s;
    background-color: white;
    max-height: 80%;
    padding: 10px;
    max-width: 70%;
    border-radius: 10px;
    bottom: 0;
  }

  img {
    width: 150px;
    border-radius: 5px;
    margin: 0 auto;
    @include media(mopile) {
      display: none;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    h2 {
    
      margin: 0;
      text-align: left;
      color: white;
      border-bottom: 2px solid;
    }
    a.active {
      // background-color: orangered;
      // padding-left: 30px;
      &::after{
        right:20px
      }
    }
    a {
      font-size: 17px;
      // font-weight: 600;
      background: rgba(0, 0, 0, 0.596);
      padding: 7px;
      transition: 0.2s;
      text-transform: capitalize;
      color: white;
     
      position: relative;
      &::after{
        content: ">";
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        right: 40px;
        transition: 0.2s;
      }

      &:hover {
        // background-color: orangered;

        &::after{
          right: 20px;
        }
      }
    }
    .add {
      // background-color: rgba(27, 231, 27, 0.616);
      &:hover {
        background-color: rgb(7, 238, 7);
      }
    }
  }
  .button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    margin: 15px auto;
    padding: 0 10px;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    // margin: -0.3em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }
}
.side-show {
  @include media(mopile) {
    right: 12%;
  }
}
